body {
    background-color: black;
}

main {
    width: 90%;
    margin: 2vh auto;
    max-width: 1920px;
}

div.sliders {
    width: 100%;
    max-height: 80vh;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.slide {
    display: none;
}

.slide.slide-active {
    display: block;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slider-text {
    margin-top: 2rem;
    color: white;
}

.slider-control {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    right: 0;
    height: 10%;
}

.square {
    margin: 1px;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.circle {
    margin: 5px auto;
    width: 15px;
    height: 15px;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 50px;
    border-color: deepskyblue;
    background-color: deepskyblue;
}

.square.slide-active .circle {
    background-color: black;
}

.square:hover .circle {
    border-color: white;
    background-color: white;
}

.square.slide-active:hover .circle {
    background-color: black;
}

@media (max-width: 600px) {

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    div.sliders {
        max-height: 266px;
    }
}
